/* Version 1.6 */
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: ANURLI, Arial, Helvetica, sans-serif;
  color: #C00000;
  background-color: #111111;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
  text-align: center;
}

body::after {
  content:'';
  display: block;
  height: 60px;
}

/* Header/logo Title */
.header {
  padding: 100px;
  text-align: center;
  background: #111111;
  color: #EEEEEE;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
}

/* Increase the font size of the heading */
.header h1 {
  font-family: ANURLI, Arial, Helvetica, sans-serif;
  /*text-shadow: -4px 0 4px #C00000, 0 4px 4px #C00000, 4px 0 4px #C00000, 0 -4px 4px #C00000;*/
  font-size: 80px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Bebas, SquareDeal,SquareaRegular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar-right {
  float: right;
}

.navbar a {
  float: left;
  display: block;
  font-size: 30px;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar a.logo {
  float: left;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.navbar img {
  height: auto;
  width: auto;
  max-height: 55px;
  max-width: 200px;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 35px;
  display: block;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Column container */
.row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar column */
.side {
  -ms-flex: 22%; /* IE10 */
  flex: 22%;
  background-color: #111111;
  padding: 20px;
  text-align: center;
}

.side h2 {
  font-size: 36px;
  color: white;
  text-align: center;
}

/* Main column */
.main {
  -ms-flex: 56%; /* IE10 */
  flex: 56%;
  background-color: #111111;
  padding: 20px;
  text-align: center;
}

.main h2 {
  font-size: 36px;
  color: white;
  text-align: center;
}

.main h3 {
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: -2px 0 2px #C00000, 0 2px 2px #C00000, 2px 0 2px #C00000, 0 -2px 2px #C00000;
}

.main h4 {
  font-size: 25px;
  color: white;
  text-align: center;
}

.main img {
  height: 300px;
  width: 300px;
  border: 3px solid #C00000;
  border-radius: 5px;
  padding: 5px;
}

/* Main for Officers */
.main2 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: #111111;
  padding: 20px;
  text-align: center;
}

.main2 h2 {
  font-size: 36px;
  color: white;
  text-align: center;
}

.main2 h3 {
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: -2px 0 2px #C00000, 0 2px 2px #C00000, 2px 0 2px #C00000, 0 -2px 2px #C00000;
}

.main2 h4 {
  font-size: 25px;
  color: white;
  text-align: center;
}

.main2 img {
  height: 300px;
  width: 300px;
  border: 3px solid #C00000;
  border-radius: 5px;
  padding: 5px;
}

img.team {
  height: 15%;
  width: auto;
  border: 0;
  border-radius: 0;
}

footer {
  overflow: hidden;
  text-align: center;
  font-family: Bebas, SquareDeal,SquareaRegular,Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #333;
  padding: 10px 0 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer a {
  float: center;
  font-size: 35px;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 800px) {
  .navbar a:not(.logo) {display: none;}
  .navbar .dropdown:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: left;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {
    float: left;
    display: block;
    text-align: left;
  }
}

@font-face {
  font-family: "SquareDeal";
  src: url(fonts/square-deal.ttf) format("truetype");
}

@font-face {
  font-family: "SquareaRegular";
  src: url(fonts/SquareaRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Bebas";
  src: url(fonts/BEBAS.ttf) format("truetype");
}

@font-face {
  font-family: "AleoBold";
  src: url(fonts/Aleo-Font/DesktopOTF/Aleo-Bold.otf) format("opentype");
}

@font-face {
  font-family: "ANURLI";
  src: url(fonts/ANURLI.ttf) format("truetype");
}

/* Discord CSS */
#discordData,#discordInfo{
    display:flex;
    height:50px
}
#callToAction,#callToAction-clicked{
    bottom:0;
    cursor:pointer;
    height:40px;
    left:0;
    min-height:32px;
    min-width:73px;
    position:relative;
    right:0;
    top:0;
    align-self:center;
    margin:0 0 0 10px;
    padding:2px 16px
}
#buttonText,#introText,#serverNameBox,#status{
    text-overflow:ellipsis;
    overflow:hidden
}
@font-face{
    font-family:Whitney;
    font-weight:300;
    src:url(https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff")
}
@font-face{
    font-family:Whitney;
    font-weight:400;
    src:url(https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")
}
@font-face{
    font-family:Whitney;
    font-weight:500;
    src:url(https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff")
}
@font-face{
    font-family:Whitney;
    font-weight:600;
    src:url(https://discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")
}
@font-face{
    font-family:Whitney;
    font-weight:700;
    src:url(https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff")
}
.noselect{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
#discordInviteBox{
    background-color:#37393e;
    display:inline-block
}
#discordInvite{
    text-align:left;
    box-sizing:border-box;
    color:#fff;
    background:rgba(47,49,54,.6);
    border:1px solid rgba(47,49,54,.9);
    border-radius:3px;
    font:normal normal 400 normal 16px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
    padding:10px 15px 10px 10px;
    display:inline-block
}
#offlineInd,#onlineInd{
    height:8px;
    width:8px;
    border-radius:50%;
    margin:0 4px 0 0;
    display:block
}
#introText{
    color:#b9bbbe;
    height:16px;
    letter-spacing:.5px;
    text-transform:uppercase;
    flex:1 1 0%;
    font:normal normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0 0 8px
}
#serverImg{
    background-position:50% 50%;
    bottom:0;
    cursor:pointer;
    height:50px;
    left:0;
    position:relative;
    right:0;
    top:0;
    width:50px;
    border-radius:15px;
    flex:0 0 auto;
    margin:0 10px 0 0
}
#discordInviteError{
    background-color:red;
    color:#fff
}
#discordInfo{
    align-items:stretch;
    justify-content:center;
    flex:1 1 auto;
    flex-flow:column nowrap
}
#callToAction,#statusIndicators{
    align-items:center;
    display:flex
}
#serverNameBox{
    color:#f6f6f7;
    cursor:pointer;
    height:20px;
    font:normal normal 600 normal 16px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0 0 4px
}
#serverNameBox:hover{
    text-decoration:underline;
}
#status,#statusIndicators{
    font:normal normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#72767d;
    height:16px
}
#statusIndicators{
    justify-content:flex-start
}
#onlineInd{
    color:#72767d;
    column-rule-color:#72767d;
    background:#43b581;
    font:italic normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}
#numOnline{
    color:#72767d;
    display:block;
    height:16px;
    font:normal normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0 8px 0 0
}
#offlineInd{
    color:#72767d;
    background:#747f8d;
    font:italic normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}
#numTotal{
    color:#72767d;
    display:block;
    height:16px;
    font:normal normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}
#callToAction{
    color:#fff;
    border:0;
    justify-content:center;
    background:#43b581;
    border-radius:3px;
    font:normal normal 500 normal 14px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    transition:background-color .17s ease 0s
}
#callToAction:hover{
    background-color:#3ca374
}
#callToAction-clicked{
    color:#dcddde;
    display:flex;
    overflow-wrap:break-word;
    word-wrap:break-word;
    align-items:center;
    justify-content:center;
    user-select:none;
    background:rgba(0,0,0,0);
    border:1px solid rgba(114,118,126,.298);
    border-radius:3px;
    font:normal normal 500 normal 14px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    transition:color .17s ease 0s,background-color .17s ease 0s,border-color .17s ease 0s
}
#discordPoly,#gDiscord{
    white-space:nowrap;
    word-wrap:break-word;
    column-rule-color:#dcddde;
    user-select:none;
    fill:none;
    border:0 #dcddde;
    overflow-wrap:break-word;
    cursor:pointer;
    text-align:center;
    font:normal normal 500 normal 14px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}
#callToAction-clicked:hover{
    border-color:hsla(218,5%,47%,.6)
}
#discordSVG{
    color:#dcddde;
    height:18px;
    width:18px;
    margin:0 0 0 8px
}
#gDiscord{
    fill-rule:evenodd
}
#discordPoly{
    text-decoration:none solid #dcddde;
    fill-rule:evenodd;
    stroke:#dcddde;
    stroke-width:2px;
    caret-color:#dcddde;
    outline:#dcddde 0
}
#joinedDiscord{
    color:#dcddde;
    cursor:pointer;
    display:flex;
    height:20px;
    overflow-wrap:break-word;
    text-align:center;
    font:normal normal 500 normal 14px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow:hidden
}
#buttonText{
    cursor:pointer;
    display:flex;
    height:20px;
    text-align:center;
    font:normal normal 500 normal 14px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0 8.83px
}
.loadHidden{
    display:none
}
